/* custom-scrollbar.css */

/* Style the scrollbar track (the area behind the thumb) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* .custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Style the scrollbar thumb (the draggable handle) */
/* .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
} */