@tailwind base;
@tailwind components;
@tailwind utilities;

input.input {
    border-left: 4px solid rgb(239, 68, 68);
    border-radius: 0;
    background-color: #f9fdff;
    font-weight: 600;
    color: rgb(239, 68, 68);
    box-shadow: 5px 5px 6px -2px rgb(0 0 0 / 5%);
}

button.summerCampBtn {
    /* background-color: #006da4; */
    border-left: 4px solid rgb(239, 68, 68);
    font-weight: 800;
    text-transform: uppercase;
    padding: 14px 0;
    color: rgb(239, 68, 68);
    box-shadow: 11px 11px 16px -2px rgb(23 0 0 / 15%);
}
.faqInput{
    outline: none !important;
    border-radius: 20px !important;
    border: none !important ;
    font-weight: 600 !important;
    height: 40px;
    color: black !important;
    background-color: #f9fdff2c !important;
}